@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bangers');
/*-----------------------------------------------------------------------------------*/
body{
    background-color: #dddddd;
}
/* cabeçalho-------------------------------------------------------------------------*/
header#cabecalho{
    position: fixed;    
    width: 99.1%;
    display: block;
    background: #302222;
    border: 6px solid black;
    margin: -8px auto 0px -8px;
    box-shadow: 0px 0px 30px black;
}
header#cabecalho ul{  
    list-style: none;
    margin: -10px auto 15px 280px;
}
header#cabecalho img{
    position: absolute;
    margin: -30px 0px 0px -35px;
}
header#cabecalho li{
    display: inline-block;
    padding: 5px;  
    margin: 5px;   
    transition: background-color 1s;
}
.menu:hover{
    color: rgb(44, 127, 236);     
}
.teste{
    text-decoration: none;
    font-size: 12pt;
    color: rgb(44, 127, 236);
    cursor: pointer;
}
.menu{
    text-decoration: none;
    font-size: 12pt;
    color: white;
    cursor: pointer;
}
/* inserção de dados-----------------------------------------------------------------------------------*/
section#dadosIniciais{
    width: 280px;
    display: block;
    float: left;
    background-color: #f3e5cb;
    margin: 0px auto 0px 0px;
    /*box-shadow: 0px 0px 50px black;*/
    height: 510px;
    padding: 110px 10px 10px 10px;
}
section#dadosIniciais h1{
    /*font-family: 'Bangers', cursive;       */
    color: rgb(44, 127, 236);
    /*text-shadow: 0px 0px 50px black;*/    
}
.campo  {
    width: 180px;
    margin: 0px 0px 0px 15px;
    background-color: #f3e5cb;
    box-shadow: 0px 0px 10px black;
    padding: 5px;
}   
.botoes{
    display: block;
    margin-left: 55px;
}
.botao{
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    font-size: 11pt;
    background-color: rgba(5, 104, 5, 0.952);
}
.botao:hover{
    color: white;
    border-radius: 5px;
    background-color: rgb(5, 224, 23); 
    box-shadow: 0px 0px 10px black;  
}
.botoestb{
    display: block;
    margin-left: 55px;
}
.botaotb{
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    color: white;
    margin-top: -5px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    font-size: 11pt;
    background-color: rgba(5, 104, 5, 0.952);
}
.botaotb:hover{
    color: white;
    border-radius: 5px;
    background-color: rgb(5, 224, 23); 
    box-shadow: 0px 0px 10px black;  
}
.h2tb{
    margin-left: 0px;
}


/*campo de dados inseridos------------------------------------------------------------------------------*/
td{
    text-align: center;
    padding: 0px 3px 0px 3px;
    background-color: #f3e5cb;
}
#tabelaFrequencia{
    display: block;
    overflow:scroll;
    width: 210px;
    height: 450px;
    background-color: #f3e5cb;
    box-shadow: 0px 0px 30px black; 
}
/* textos de informação e scroll efeitos-----------------------------------------------------------------*/
#tabelaFrequencia::-webkit-scrollbar { width:10px; background:#f3e5cb; } /* configurando scroll */
#tabelaFrequencia::-webkit-scrollbar-track { background: #f3e5cb; }
#tabelaFrequencia::-webkit-scrollbar-thumb { border-radius:3px; background: black; border: 1px solid #f3e5cb;}
#tabelaFrequencia::-webkit-scrollbar-corner{ background: #f3e5cb;}

#mostrar{
    display: none;
}
.passarMouse{
    display: none;
    display: block;
    font-weight: bold;
}
.passarMouse:hover #mostrar{
    display:block;
    position: absolute;
    color: #f3e5cb;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(10, 34, 34);   
}
/*------------------------------------------------------------------------------------------*/
section#corpoTabelaFrequencia{
    display: block;
    float: left;
    width: 220px;
    background-color: #f3e5cb;
    padding: 50px 10px 40px 30px;
    margin: 90px 0px 0px -18px;
    box-shadow: 0px 0px 50px black;
}
.corpoTabelaDiscreta{
    display: block;
    float: right;
    width: 697px;
    background-color: #f3e5cb;
    padding: 10px 10px 40px 30px;
    margin: 90px -8px 0px 0px;
    /*box-shadow: 0px 0px 50px black;*/
    height: 490px;
}
/*corpo tabela discreta----------------------------------------------------------------------*/
.tabelaDiscreta{
    width: 680px;
    display: block;
    float: right;
    margin: 0px 15px 0px 0px;
    background-color: #f3e5cb;
    overflow:scroll;
    height: 200px;
    box-shadow: 0px 0px 30px black; 
   
}
.tbF{
    font-weight: bold;
    width: 120px;
    padding: 0px;
}
/* textos de informação e scroll efeitos-----------------------------------------------------------------*/
.tabelaDiscreta::-webkit-scrollbar { width:10px; background:#f3e5cb; } /* configurando scroll */
.tabelaDiscreta::-webkit-scrollbar-track { background: #f3e5cb; }
.tabelaDiscreta::-webkit-scrollbar-thumb { border-radius:3px; background: black; border: 1px solid #f3e5cb;}
.tabelaDiscreta::-webkit-scrollbar-corner{ background: #f3e5cb;}

.tbmedias{
    display: inline-block;
    margin:  20px auto auto auto;
    font-size: 14pt;
    
}
.tbLmedias{
    margin-left: 80px;
}
.tbdesvio{
    width: 680px;
    display: block;
    float: right;
    margin: 15px 15px 0px 0px;
    background-color: #f3e5cb;
    height: 100px;
    box-shadow: 0px 0px 30px black; 
   
}
.tbV{
    font-weight: bold;
    width: 133px;
    padding: 5px 5px 0px 5px;
}
.tbVc{
    font-weight: bold;
    width: 190px;
    padding: 5px 5px 0px 5px;
}

/*footer------------------------------------------------------------------------------------*/
footer{
    clear: both;
    float: bottom;
    width: 100.3%;
    display: block;
    background: #302222;
    border: 6px solid black;
    margin: 0px auto 0px -8px;
    box-shadow: 0px 0px 30px black;
}
footer p{
    font-size: 13pt;
    color: white;
    text-align: center;
}
/*-----------------------------------------------------------------------------------------*/
div#corpoConceitos{
    
    display: block;
    width: 400px;
    background-color: rgb(91, 161, 34);
    padding: 130px 0px 0px 10px;
}